* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* This background code was taken from the generator tool on SVG Backgrounds */
body {
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='58.6' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
/* End of SVG Backgrounds code */

.row > * {
    padding-right: 0;
    padding-left: 0;
}

.top {
    margin-top: 15px;
}

.counterStat {
    width: 33%;
}

.buttons {
    margin: auto;
    align-content: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

#gameWrap {
    background-color: rgb(105, 105, 105);
    padding: 20px;
    -webkit-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    overflow: hidden;
}

#gameBottom {
    border-top: 1px solid;
}

.transition {
    transition: all 2s;
}

.counters {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid;
}

.counters,
.buttons {
    background-color: rgb(173, 171, 171);
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Press Start 2P", sans-serif;
}

.counters,
#gameOutcome,
#flagCounter {
    margin: auto;
    text-align: center;
    width: 100%;
}

#grid {
    display: grid;
    max-height: 80vh;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: auto;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#grid .width-40 {
    width: 40%;
}

#grid .width-50 {
    width: 50%;
}

.grid-cell {
    background-color: lightgrey;
    display: flex;
    border: 1px solid #ddd;
    min-height: 10px;
    min-width: 10px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

/* CSS for cells within the game area */

.untouched {
    border: 1px solid #000000;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.empty-cell {
    border: 1px solid #000000;
}

/* End of CSS for cells within the game area */

/* Modal CSS */
.modal-footer {
    display: contents;
}

.modal-dialog {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}
/* End of Modal CSS */

.listSpacer {
    padding-bottom: 20px;
}

/* Floating Button CSS */

.float {
    margin-top: 15px;
}

.helpFloat {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    font-size: 30px;
}
.settingsFloat {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background-color: green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    font-size: 30px;
}

/* End of Floating Button CSS */

/* Spacing CSS for Form on Modal */
.labelSpacer {
    margin-right: 5px;
}

.form-check,
.storageSpacer {
    padding: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.bottom-hr {
    margin-top: 16px;
}
/* End Of Spacing CSS for Form on Modal */

/* Media Query and Show Small Screen Warning */

#smallScreen {
    border-radius: 20px;
    display: none;
}

@media (max-width: 768px) {
    #smallScreen {
        background-color: rgb(211, 211, 211);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        border-radius: 20px;
        width: 75%;
        text-align: center;
    }
    .counters,
    .buttons {
        font-family: "Noto Sans", sans-serif;
        font-size: 20px;
    }
    .buttons {
        flex-direction: column;
    }
    .gameStart {
        margin: 5px;
    }
}

@media (max-width: 350px) {
    .counters,
    .buttons {
        font-size: 16px;
    }

    .maxHeight {
        max-height: 100vh;
    }
}
